# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Webstorm ide
.idea/
release/
product/

#redis
dump.rdb

#mac
.DS_Store

#bower
bower_components
