<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart",'gauge']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work',     15],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var data_gauge = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['InvesFit', 68]
            ]);

            var data_gauge1 = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['SpendFit', 68]
            ]);

            var options_gauge = {
                width: 150,
                height: 150,
                redFrom: 0,
                redTo: 6,
                yellowFrom: 6,
                yellowTo: 15,
                greenFrom: 15,
                greenTo: 20,
                minorTicks: 20,
                max: 20,
                min: 0,
                majorTicks: ['20', '1']
            };

            var options = {
                title: 'My Daily Activities',
                pieHole: 0.4,
                slices: {
                    0: { color: '#FF4C65' },
                    1: { color: '#DC403B'},
                    2: { color: '#FFC33C'},
                    3: { color: '#55BDBE'},
                    4: { color: '#00C8F8'},
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            var chart1 = new google.visualization.PieChart(document.getElementById('donutchart1'));
            var chart2 = new google.visualization.PieChart(document.getElementById('donutchart2'));
            var chart3 = new google.visualization.PieChart(document.getElementById('donutchart3'));

            var chart_gauge_1 = new google.visualization.Gauge(document.getElementById('chart_div'));
            var chart_gauge_2 = new google.visualization.Gauge(document.getElementById('chart_div1'));

            chart_gauge_1.draw(data_gauge, options_gauge);
            chart_gauge_2.draw(data_gauge1, options_gauge);


            chart.draw(data, options);

            chart1.draw(data, options);

            chart2.draw(data, options);

            chart3.draw(data, options);

            console.log("Works")
        }
    </script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/js/app.js"></script>
    <script src="/controllers/dashboardController.js"></script>
</head>
<body ng-app="netbnk" ng-controller="dashboardController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <h4 class="pull-right" style="text-align: center">+919600094244</h4>
    </div>
</nav>

<div class="page-header">
    <h1>&nbspNETBNK, <small>welcome to a connected banking experience.</small></h1>
</div>

<div style="padding: 20px; width: 450px;">
    <div class="alert alert-success" role="alert">
        <h4>Connected Bank Accounts are listed below,</h4>
    </div>
</div>
<div class="row" style="padding: 10px">
    <div class="col-sm-6" style="width: 50%;">
        <ul class="list-group">
            <li class="list-group-item disabled"><font color="black">Bank : Deutsche Bank AG</font></li>
            <li class="list-group-item "><font color="black">Account Number : 122000661</font></li>
            <li class="list-group-item disabled"><font color="black">Account Balance : 27,000 INR</font></li>
            <li class="list-group-item "><font color="black">Phone Number : +919600094244</font></li>
        </ul>
    </div>
    <div class="col-sm-6" style="width: 50%;">
    <div class="list-group">
        <li href="#" class="list-group-item disabled"><font color="black">Bank : HDFC Bank Limited</font></li>
        <li href="#" class="list-group-item "><font color="black">Account Number : 122000699</font></li>
        <li href="#" class="list-group-item disabled"><font color="black">Account Balance : 44,000 INR</font></li>
        <li class="list-group-item "><font color="black">Phone Number : +919600094244</font></li>

    </div>
    </div>
</div>

<div class="fluid-container">
    <div class="span8">
        <div class="row">
                <div class="col-md-4">
                    <div id="donutchart"  style="width: 450px; height: 300px;"></div>
                </div>
                <div class="col-md-4">
                    <div  id="donutchart1" style="width: 450px; height: 300px;"></div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-md-4" style="text-align: center">
                    <div class="col-md-4" id="chart_div" style="width: 450px; height: 300px;"></div>
                </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div id="donutchart2" style="width: 450px; height: 300px;"></div>
            </div>
            <div class="col-md-4">
                <div id="donutchart3" style="width: 450px; height: 300px;"></div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-4" style="text-align: center">
                <div class="col-md-4" id="chart_div1" style="width: 450px; height: 300px;"></div>
            </div>
        </div>
    </div>

    <div style=" height: 720px; overflow:scroll;">
        <div class="panel panel-danger"  style=" width: 100%">
            <div class="panel-heading">Suggestions</div>
            <div id="content" style="padding: 5px;">
                <ul class="list-group">
                    <li class="list-group-item"><b>Short-term Fixed Deposit Rates upto 7.25%</b>; SBI offers short-term deposits from interest rates of 5.25% p.a. to 7.25% p.a.,quarterly compounded.</li>
                    <li class="list-group-item"><b>Senior Citizens FD Rates;</b>The rates of interest range from 5% for a 30 day term to 7.25% for a 5 year FD</li>
                    <li class="list-group-item"><b> Medium and Long-Term FD Rates;</b>These rates hover around the 9% mark which is featured on schemes with tenures between 1 to 3 years.</li>
                </ul>
            </div>
        </div>

    </div>

    <div style="padding: 5px; width: 160px;" >
        <div class="alert alert-success" role="alert">
            <h4>Transactions : </h4>
        </div>
    </div>
    <div class="panel panel-danger"  style=" width: 100%">
        <div class="panel-heading"><h4>Deutsche Bank AG</h4></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Bank Name</th>
                <th>Account ID</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Tag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2012-12-31 23:59:59</td>
                <td>HDFC Bank</td>
                <td>xxxxx0661</td>
                <td>Rent</td>
                <td>Debit</td>
                <td>4000 INR</td>
                <td>Rent</td>
            </tr>
            <tr>
                <td>2012-12-30 22:50:56</td>
                <td>Axis Bank</td>
                <td>xxxxx0761</td>
                <td>Commute</td>
                <td>Debit</td>
                <td>200 INR</td>
                <td>Travel</td>
            </tr>
            <tr>
                <td>2012-12-20 21:50:56</td>
                <td>Citibank</td>
                <td>xxxxx0561</td>
                <td>Salary</td>
                <td>Credit</td>
                <td>30,000 INR</td>
                <td>Pay</td>
            </tr>
            <tr>
                <td>2012-12-19 10:50:56</td>
                <td>ICICI Bank</td>
                <td>xxxxx0481</td>
                <td>Interest</td>
                <td>Credit</td>
                <td>480 INR</td>
                <td>Fixed Deposit</td>
            </tr>
            <tr>
                <td>2012-12-16 7:50:56</td>
                <td>HDFC Bank</td>
                <td>xxxxx0451</td>
                <td>New Shoes</td>
                <td>Debit</td>
                <td>800 INR</td>
                <td>Shopping</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-info"  style=" width: 100%">
        <div class="panel-heading"><h4>HDFC Bank Limited</h4></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Bank Name</th>
                <th>Account ID</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Tag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2012-10-31 23:59:59</td>
                <td>HDFC Bank</td>
                <td>xxxxx0661</td>
                <td>Rent</td>
                <td>Debit</td>
                <td>400 INR</td>
                <td>Food</td>
            </tr>
            <tr>
                <td>2012-10-30 22:50:56</td>
                <td>HSBC Bank</td>
                <td>xxxxx0761</td>
                <td>Flight Ticket</td>
                <td>Debit</td>
                <td>2000 INR</td>
                <td>Travel</td>
            </tr>
            <tr>
                <td>2012-11-20 21:50:56</td>
                <td>Citibank</td>
                <td>xxxxx0561</td>
                <td>Stock Dividend</td>
                <td>Credit</td>
                <td>30,000 INR</td>
                <td>Stocks</td>
            </tr>
            <tr>
                <td>2012-11-19 10:50:56</td>
                <td>ICICI Bank</td>
                <td>xxxxx0481</td>
                <td>Interest</td>
                <td>Credit</td>
                <td>480 INR</td>
                <td>Fixed Deposit</td>
            </tr>
            <tr>
                <td>2012-11-16 7:50:56</td>
                <td>HSBC Bank</td>
                <td>xxxxx0451</td>
                <td>New Shoes</td>
                <td>Credit</td>
                <td>800 INR</td>
                <td>Bonds</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>